
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>VietJet Air</title>

    <!-- Bootstrap core CSS -->
  
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!--
    Ramayana CSS Template
    https://templatemo.com/tm-529-ramayana
    -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">

</head>



<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a href="index.html">VietJet Air</a>
                    </div>

                </header>





                <!-- Right Image -->

                <div class="container-fluid">


                    <div class="row">
                        <div class="col-md-6">

                        </div>

                    </div>
                </div>

            </div>
        </div>





        <!-- Sidebar -->
        <div id="sidebar">

            <div class="inner">

                <!-- Search Box -->
                <section id="search" class="alt">
                    <form method="get" action="#">
                        <input type="text" name="search" id="search" placeholder="Search..." />
                    </form>
                </section>



                <!-- Menu -->
                <nav id="menu">

                    <ul>

                        <li class="nav-item">
                        <li><a href="~/" class="nav-link">Homepage</a></li>



                        <li class="nav-item">
                            <a href="~/DashBoard/Index" class="nav-link">Dashboard</a>
                        </li>


                        <li class="nav-item">
                            <span class="opener">Flight Docs</span>
                            <ul>
                                <li><a href="~/FlightDocs">All Flight</a></li>

                            </ul>
                        </li>


                        <li class="nav-item">
                            <span class="opener">My Document</span>
                            <ul>
                                <li><a href="~/MyDocument">All Document</a></li>
                                <li><a href="~/MyDocument">Configuration</a></li>

                            </ul>
                        </li>

                        <li>
                            <span class="opener">WORK GROUP</span>
                            <ul>
                                <li><a href="~/WORKGROUP">Group permission</a></li>

                            </ul>
                        </li>

                    </ul>
                </nav>

                <!-- Featured Posts -->
                <div class="featured-posts">
                    <div class="heading">
                        <h2>Featured Posts</h2>
                    </div>
                    <div class="owl-carousel owl-theme">
                        <a href="#">
                            <div class="featured-item">
                                <img src="/assets/images/featured_post_01.jpg" alt="featured one">
                                <p>VietJet Air is the place for reliable flights.</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="featured-item">
                                <img src="/assets/images/featured_post_01.jpg" alt="featured two">
                                <p>VietJet Air always prioritizes the interests of customers.</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="featured-item">
                                <img src="/assets/images/featured_post_01.jpg" alt="featured three">
                                <p>Enjoy your vacation together.</p>
                            </div>
                        </a>
                    </div>
                </div>


                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">
                        Copyright &copy; 2022 VietJet Air
                        <br>Designed by <a>Alta Software</a>
                    </p>
                </footer>

            </div>
        </div>

    </div>

    @RenderBody()
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->

    <script src="~/vendor/jquery/jquery.min.js"></script>

    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/transition.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/custom.js"></script>


</body>

</html>


